body{
    background: #efefef !important;
    }
    //color css
    .bg-red{
        background: #c41230 !important;
        color: #ffffff !important;
    }
    .bg-thm-blue{
        background: #00447c !important;
        color: #ffffff !important;
    }
    .text-red{
        color: #c41230 !important;
    }
    .bg-light-gray{
        background: #f3f3f3 !important;
    }
    
    .bg-gradient-info {
        background: linear-gradient(87deg, #c41230 0, #0b4c81 100%) !important;
    }
    
    .text-16{
        font-size: 16px !important;
    }
    .product-logo{
        width: 103px !important;
    }
    
    .dark-shadow{
        box-shadow: 2px 1px 6px rgba(0,0,0,0.5) !important;
    }
    
    .side-logo{
     border-radius: 3px;
     .navbar-brand-img{
        width: 154px !important;
     }
    }
    
    .main-content.side-w{
        margin-left: 250px;
    }
    .main-content.full-w,.main-content.side-w{
        transition: 1s;
        left: 0;
    }
    .main-content .navbar-toggler{
        z-index: 9 !important;
        position: relative;
        color: #00447c !important;
        margin-top: 12px;
        & .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
    //sidebar nav 
    .sidebar-slide, .sidebar-slide.show{
        position: inherit !important;
        display: block !important;
        
    }
    .sidebar-slide.collapse.s-in{
        margin-right:0;
        transition: 2s;
        opacity: 1;
    }
    .sidebar-slide.collapse.s-out{
       margin-right:0;
       transition: 0.8s;
       opacity: 0;
    }
    // #sidenav-main{
    //     position: absolute !important;
    //     height: 100vh;
    //     width: 250px;
    
    // }
    .sidebar-slide.collapse.hide #sidenav-main{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    
    }
    // .sidebar-slide.collapse{
    //     transition: 1s;
    //     left: 0;
    // }
    #sidenav-main .nav-link-icon.nav-link i, #sidenav-main .nav-link-icon.nav-link {
       color: #ffffff !important;
       font-size:15px;
    }
    #sidenav-main .nav-link-icon.nav-link.active {
        background: #073b65 !important;
     }
     #sidenav-main .nav-link-icon.nav-link:hover {
        background: #073b65 !important;
    }
    // Login css
    
    .login-logo img{
        width:230px;
        margin: 0 auto;
    }
    .login-main-content{
        background: url(../img/brand/login-bg-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 100vh ;
    }
    
    .login-pg{
        & .input-group-text{
            color: #525f7f !important;
        }
        & .custom-control-label::after{
            border: 1px solid #525f7f;
            border-radius: 3px;
        }
        ::placeholder{
            color: #525f7f !important;
        }
        
    }
    .input-group-text{
        color: #525f7f !important;
    }
    .custom-control-label::after{
        border: 1px solid #525f7f;
        border-radius: 3px;
    }
    .navbar-search-dark .input-group-text{
        color: #ffffff !important;
    }
    
    .center-div{
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    
    
    //Stationery Css
    #productquantity {
        text-align: center;
        padding: 5px;
    }
    .qty {
        width: 40px;
        height: 25px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #dddddd;
    }
    
    .qtymin, .qtypls {
        cursor: pointer;
        background: transparent !important;
        box-shadow:none !important;
        color: #a5a5a5;
    }
    .qtymin:hover{
        color: #f01a3e;
    }
    .qtypls:hover{
        color: #2fce8a;
    }
    #table-editaction button , .btn-bg{
        cursor: pointer;
        background: transparent !important;
        box-shadow:none !important;
        color: #a5a5a5;
    }
    .no-pad{
        padding-top:5px !important;
        padding-bottom: 0px !important;
    
    }
    .editor.edit-text{
        padding: 0px 10px !important;
        height: 30px !important;
    }
    .card .table td, .card .table th {
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .card{
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2) !important;
    }
    
    .card-profile-image img{
        background: #c43418;
        padding: 2px;
        box-shadow: 1px 1px 21px rgba(0,0,0,0.3) !important;
    }
    
    .table-status-w{
        min-width: 141px !important;
    }
    
    .overlay{
        background: url(/static/media/login-bg-2.e9838bf1.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: inherit;
        position: absolute;
        top: 0;
        width: 250px;
        bottom: 0;
        height: 100vh;
        opacity: 0.1;
        left: 0;
    }
    .modal-size{
        min-width: 619px;
    }
    
    //Form Css
    .Custom-form{
        & .input-group-alternative{
            background: #e9f0f5;
        }
        & .input-group-prepend .input-group-text, & input{
            background:transparent !important;
        }
    
    }
    
    //Datepicker Css
    .DayPickerInput{
        width: 100%;
    }
    .DayPickerInput input{
        display: block;
        width: 100%;
        height: calc(2.75rem + 2px);
        padding: 0.625rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #8898aa;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #cad1d7;
        border-radius: 0.375rem;
        box-shadow: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .DayPickerInput input::placeholder{
        font-size: 14px;
        color: #a5a5a5;
    }
    .Subfrom-to .DayPickerInput-Overlay{
        width: 470px;
        display: block !important;
    }
    
    .Subfrom-to .DayPicker-Month {
        display: inline !important;
        width: 200px !important;
        float: left !important;
        padding: 0px !important;
        color: #616161;
    }
    .Subfrom-to .DayPicker-Weekday, .Subfrom-to .DayPicker-Day, .Subfrom-to .DayPicker-WeekNumber {
        padding: 4px !important;
        margin: 2px !important;
        font-size: 14px !important;
    }
    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
        background-color: #48a0e9 !important;
        color: #f0f8ff;
        width: 25px;
        height: 25px;
    }
    .DayPicker-Day {
         border-radius: 0% !important;
    }
    
    label {
        font-size: 14px;
        font-weight: 600;
    }
    
    #ApproverStatus{
    height: 30px !important;
    }
    
    
    // Responsive css
    
    @media screen and (max-width: 600px) {
        .header-body{
            margin-top: 66px !important;
        }
        .sm-pl-2{
            padding-left: 1rem !important;
        }
        .main-content .container-fluid.navbar-con{
            padding: 0px !important;
        }
        .main-content.side-w{
            margin-left: 0px !important;
        }
        .d-xs-none{
            display: none !important;
        }
        .modal-size{
            min-width: 96%;
        }
        
      }
    
      @media screen and (min-width: 768px){
        .main-content .container-fluid.navbar-con {
            padding-left: 60px !important;
            padding-right: 20px !important;
        }
    }




.pagination {
    margin: 15px;
    display: flex;
    list-style: none;
    outline: none;
    float: right;
}
  .pagination > .active > a{
    background-color: #114e80;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #c1cad1;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #114e80;
    border-color: #114e80;
    outline: none;
  }
  .pagination > li > a, .pagination > li > span{
    color: #114e80;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  .pagination > li:first-child > a{
    border-radius: 5px 0px 0px 5px !important;
  }
  .pagination > li:last-child > a{
    border-radius: 0px 5px 5px 0px !important;
  }